/* 图片样式 */
.mask {
  /* 宽度 */
  width: 100%;
  /* 高度 */
  height: 100vh;
  /* 相对定位 */
  position: relative;
}

/* 背景图片 */
.into-img {
  /* 宽度 */
  width: 100%;
  /* 高度 */
  height: 100%;
  /* 背景大小 */
  background-size: cover;
  /* 背景位置 */
  background-position: center;
  /* 背景适配 */
  object-fit: cover;
}

/* 背景图片的遮罩 */
.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  opacity: 0.4;
}

/* 内容 */
.hero .content {
  /* 绝对定位 */
  position: absolute;
  /* 动画 */
  transform: translate(-50%, -50%);
  /* 文字位置 */
  top: 50%;
  left: 50%;
  /* 文本对齐 */
  text-align: center;
  /* 文本阴影 */
  text-shadow: 0 0 10px rgba(221, 214, 11, 0.595);
}

/* 标题 */
.hero .content h1 {
  /* 标题大小 */
  font-size: 5rem;
  /* 标题颜色 */
  color: #dbf723;
  /* 标题下间距 */
  margin-bottom: 2rem;
}

/* 副标题 */
.hero .content p {
  /* 副标题大小 */
  font-size: 2rem;
  /* 副标题颜色 */
  color: #dbf723;
  /* 副标题下间距 */
  margin-bottom: 1rem;
}

/* button样式 */
.btn {
  /* 按钮颜色 */
  color: #746a37;
  /* 按钮大小 */
  font-size: 16px;
  /* 按钮间距 */
  margin: 1rem 1rem;
  /* 按钮轮廓颜色 */
  border: 2px solid rgb(215, 202, 53);
  /* 相对定位 */
  position: relative;
  /* 背景颜色 */
  background-color: rgba(0, 0, 0, 0);
  /* 用户选择 */
  user-select: none;
  /* 用户选择 */
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* 动画后样式 */
.btn:after {
  /* 内容 */
  content: "";
  /* 背景颜色 */
  background-color: #ffe54c;
  /* 宽度 */
  width: 100%;
  /* 高度 */
  height: 100%;
  /* 层级 */
  z-index: -1;
  /* 绝对定位 */
  position: absolute;
  /* 错位 */
  top: 7px;
  left: 7px;
  /* 动画 */
  transition: 0.2s;
}

/* 按钮悬停 */
.btn:hover:after {
  top: 0px;
  left: 0px;
}

/* 响应式布局 */
@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}