.about {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
      rgba(164, 163, 163, 0.516),
      rgba(13, 12, 12, 0.8)
  ), url('../../asset/2023.7.24西藏24.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  z-index: 0;
}


