.about {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
      rgba(164, 163, 163, 0.516),
      rgba(13, 12, 12, 0.8)
  ), url('../../asset/2023.7.24西藏24.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  z-index: 0;
}

/* 确保页面内容足够长时，背景也能延伸 */
html, body {
    min-height: 100vh;
    background-color: #0a192f; /* 与背景图片底部颜色相近的颜色 */
}

/* 确保内容在背景上方显示 */
.about > * {
    position: relative;
    z-index: 1;
}

